/venv
/models/translator
/models/opus-mt-uk-en
/models/realvisxl
/models/stable-diffusion-xl-base-1.0
/models/translate
*.pyc
/infrastructure/ai/models/realvisxl
/infrastructure/ai/models/stable-diffusion-xl-base-1.0
